body{
    font-family: Circular Std Book;
}
.content{
    background-color: rgb(239, 241, 243);

}
h1{
    width:100%;
    text-align: center;
}

.themvatimkiem {
    display: flex;
    justify-content: space-around;
}
.btn-them{
    color: #fff;
    background-color: #2ec551;
    border: none;
    padding: 9px 16px;
}
.Input-Nhập{
    color: #fff;
    padding: 10px 15px;
    outline: none;
}
.btn-TimKiem{
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border: #007bff;
}
.