<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vendor/bootstrap-5.2.3-dist/css/bootstrap.min.css">
    <script src="/vendor/bootstrap-5.2.3-dist/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery-3.7.1/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="/vendor/fontawesome-free-6.7.2-web/css/all.min.css">
    <title>Trang chủ</title>
</head>

<body>
    <header id="header">
        <div class="topbar" style=" background-color: #ff5c39;">
            <div class="d-flex justify-content-between align-items-center m-auto text-white"
                style="min-height: 30px; max-width: 1300px; font-size: 13px;">
                <div class="m-0">UNIE VIỆT NAM - Nhà Đẹp Bếp Xinh</div>
                <div class="m-0 text-end">
                    <i class="fa-solid fa-envelope"></i> dvkh@ukg.com.vn
                    |
                    <i class="fa-solid fa-clock"></i> 08:00 - 17:00
                </div>
            </div>
        </div>

        <div class="midbar" style="background-color: #f5f5f5;">
            <div class="d-flex justify-content-between align-items-center m-auto"
                style="height: 80px; max-width: 1300px;">

                <div class="logo" style="width: 80px; height: 46px;">
                    <img src="/public/assets/images/Logo.webp" alt="" class="w-100 h-100" style="object-fit: cover;">
                </div>

                <div class="search-box d-flex justify-content-center align-items-center w-50">

                    <div class="w-75 " style="height: 40px;">
                        <input placeholder="Tìm kiếm ..." type="text" class="w-100 h-100 p-3"
                            style="outline: none; border-radius: 8px 0px 0px 8px; border: 0.5px solid #e0e0e0;">
                    </div>

                    <btn class="search-icon text-white d-flex justify-content-center align-items-center"
                        style="width: 40px; background-color: #ff5c39; height: 40px; border-radius: 0px 8px 8px 0px;">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </btn>
                </div>

                <div class="tools d-flex align-items-center text-white" style="font-size: 18px;">

                    <div class="cart position-relative">
                        <div class="total_products_in_cart position-absolute d-flex justify-content-center align-items-center rounded-5"
                            style="font-weight: 500; top: -6px; right: 12px;width: 20px; height: 20px; background-color:#E0E0E0; font-size: 14px;">
                            <div class="total_product text-dark">0</div>
                        </div>
                        <div class="me-3 cart-icon p-1 d-flex align-items-center rounded-5 justify-content-center"
                            style=" background-color: #ff5c39; width: 40px; height: 40px;">
                            <i class="fa-solid fa-basket-shopping"></i>
                        </div>
                    </div>

                    <div class="user-info d-flex justify-content-center rounded-5 align-items-center"
                        style="width: 40px; height: 40px; background-color: #ff5c39;">
                        <i class="fa-regular fa-user"></i>
                    </div>
                </div>

            </div>
        </div>

        <div class="navbar p-0">
            <div class="w-100" style="box-shadow: 1px 5px 10px 0px #efefef;">
                <div class="d-flex justify-content-between align-items-center m-auto"
                    style="height: 44px; max-width: 1300px; ">

                    <div class="d-flex justify-content-center m-auto align-items-center w-50 "
                        style="font-weight: 500;">
                        <div class="d-flex w-25 justify-content-center" style="line-height: 44px;">Trang chủ</div>
                        <div class="d-flex w-25 justify-content-center" style="line-height: 44px;">Sản phẩm</div>
                        <div class="d-flex w-25 justify-content-center" style="line-height: 44px;">Mới nhất</div>
                        <div class="d-flex w-25 justify-content-center" style="line-height: 44px;">Giới thiệu</div>
                    </div>

                </div>
            </div>

        </div>

    </header>
    <main>

        <div class="d-flex justify-content-center">
            <div class="row" style="width: 1300px;">
                <!-- product img -->
                <div class="col-4">
                    <!-- img thumbnail -->
                    <div class="container_product_img d-flex justify-content-center align-items-center"
                        style="width: 380px; height: 380px;">
                        <div class="product_img w-75 h-75">
                            <img src="../../../public/assets/images/test/test.webp"
                                class="w-100 h-100 object-fit-cover " alt="" srcset="">
                        </div>
                    </div>

                    <!-- img item -->
                    <div class="container_products_img_list d-flex align-items-center">
                        <div class="container_product_img_item d-flex justify-content-center align-items-center"
                            style="width: 80px; height: 80px;">
                            <div class="product_img_item w-75 h-75">
                                <img src="../../../public/assets/images/test/test.webp"
                                    class="w-100 h-100 object-fit-cover " alt="" srcset="">
                            </div>
                        </div>
                        <div class="container_product_img_item d-flex justify-content-center align-items-center"
                            style="width: 80px; height: 80px;">
                            <div class="product_img_item w-75 h-75">
                                <img src="../../../public/assets/images/test/test.webp"
                                    class="w-100 h-100 object-fit-cover " alt="" srcset="">
                            </div>
                        </div>
                        <div class="container_product_img_item d-flex justify-content-center align-items-center"
                            style="width: 80px; height: 80px;">
                            <div class="product_img_item w-75 h-75">
                                <img src="../../../public/assets/images/test/test.webp"
                                    class="w-100 h-100 object-fit-cover " alt="" srcset="">
                            </div>
                        </div>
                        <div class="container_product_img_item d-flex justify-content-center align-items-center"
                            style="width: 80px; height: 80px;">
                            <div class="product_img_item w-75 h-75">
                                <img src="../../../public/assets/images/test/test.webp"
                                    class="w-100 h-100 object-fit-cover " alt="" srcset="">
                            </div>
                        </div>
                    </div>

                </div>
                <!-- product information -->
                <div class="col-8">
                    <div class="product_information">
                        <div class="product_information_title">
                            Nồi chiên hơi nước UNIE STEAM COLOR dung tích 15L, công suất 1800W, chiên hấp 2 trong 1
                        </div>
                        <div class="product_information_price">
                            2.990.000 ₫
                        </div>
                        <div class="product_information_content rounded-3 border">
                            Nồi chiên hơi nước Unie Steam Color là một trong những thế hệ nồi chiên hấp 2 trong 1 lần
                            đầu xuất hiện tại thị trường Việt <br>
                            Đặc điểm nổi bật của sản phẩm: <br>
                            <ul>

                                <li>Đột phá công nghệ chiên hấp 2 trong 1</li>
                                <li>Thiết kế thông minh cửa tháo dời, gioăng cao su chống thoát nhiệt, bo viền inox chắc
                                    chắn</li>
                                <li>Chất liệu inox 304 sáng bóng bền đẹp dễ vệ sinh</li>
                                <li>Khay chứa nước dung tích lớn, tháo lắp dễ dàng</li>
                                <li>Bảng điều khiển cảm ứng thông minh</li>
                                <li>Công suất 1800W, dung tích lên tới 15 lít</li>
                                <li>Vệ sinh dễ dàng</li>
                            </ul>
                        </div>

                        <div class="product_information_action d-flex mt-5">
                            <div class="product_information_count">
                                <button><i class="fa-solid fa-minus"></i></button>
                                <input type="text">
                                <button><i class="fa-solid fa-plus"></i></button>
                            </div>
                            <button class="border-0 p-2 ms-5 text-white rounded-2" style="background-color: #ff5c39;"
                                id="product_information_add_cart">Thêm
                                vào giỏ hàng</button>
                            <button class="border-0 p-2 ms-5 text-white rounded-2" style="background-color: #ff5c39;"
                                id="product_information_pay">Mua
                                ngay</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <footer id="footer" class="mt-4">

        <div class="container m-auto" style="max-width: 1300px;">
            <div class="row ">
                <div class="col-lg-2 p-0">
                    <div class="img-logo">
                        <img src="/public/assets/images/Logo.webp" alt="">
                    </div>
                    <ul class="p-0 m-0" style="list-style: none; font-size: 14px;">
                        <li>Thương hiệu</li>
                        <li>Sản phẩm</li>
                        <li>Cửa hàng</li>
                    </ul>
                </div>
                <div class="col-lg-4 p-0">
                    <ul style="list-style: none; padding-right: 20px; padding-left: 10px; font-size: 14px;">
                        <li style="font-size: 18px;">ĐỊA CHỈ SHOWROOM</li>
                        <li>Hà Nội - Việt Nam <br>
                            Địa chỉ: V6-A08 Khu Shophouse Văn Phú, Khu đô thị mới Văn Phú, phường Phú La, Hà Đông, Hà
                            Nội
                        </li>
                        <li>Hồ Chí Minh - Việt Nam <br>
                            Showroom: Hẻm 313, Đường Phan Huy Ích, Phường 14, Quận Gò Vấp, TP Hồ Chí Minh
                        </li>
                        <li>
                            Email: dvkh@ukg.com.vn
                        </li>
                    </ul>

                </div>
                <div class="col-lg-3 p-0">
                    <ul class=" m-0"
                        style="list-style: none; padding-left: 10px; padding-right: 20px; font-size: 14px;">
                        <li style="font-size: 18px;">CHÍNH SÁCH BÁN HÀNG</li>
                        <li>Chính sách bảo hành</li>
                        <li>Chính sách vận chuyển</li>
                        <li>Quy định đổi trả hàng</li>
                        <li>Phương thức thanh toán</li>
                        <li>Chính sách bảo vệ thông tin cá nhân của người tiêu dùng</li>

                    </ul>
                </div>
                <div class="col-lg-3 p-0">
                    <div class="w-100 p-4 text-white text-center rounded-3"
                        style="background-image: linear-gradient(#EE4823, #FF8E3C); border: 2px solid #888; margin-bottom: 20px;">
                        <p style="font-size: 12px;">Để trở thành Nhà Phân Phối/ Đại Lý liên hệ:</p>
                        <p class="m-0 p-0">
                            <i class="fa-solid fa-phone"></i>
                            Mrs Linh: 0985.813.252
                        </p>
                    </div>
                    <ul>
                        <li>Fanpage UNIE VIỆT NAM</li>
                        <li>Youtube Channel UNIE VIỆT NAM</li>
                    </ul>
                    <p style="font-size: 14px;">Bán lẻ: 039.323.6689 <br>
                        Chăm sóc khách hàng, bảo hành: 19001850 (nhánh số 4) / 0976721868
                    </p>
                </div>
            </div>
        </div>

        <hr style="color: #888;">

        <div class="end-footer m-auto" style="max-width: 1300px;">
            <div class="row">
                <div class="col-lg-6">
                    <p style="font-size: 18px;">CÔNG TY TNHH UNIE VIỆT NAM</p>
                    <p style="font-size: 14px; color: #888;">
                        ĐKKD số 0108966254 do sở kế hoạch và đầu tư Thành phố Hà Nội cấp ngày 30 tháng 10 năm 2019
                        Copyright 2025 © UNIE VIỆT NAM | Nhà đẹp Bếp xinh - 1 sản phẩm của tập đoàn UKG GROUP
                    </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-end" style="color: #888; font-size: 14px;">
                        Hotline tư vấn: 19001850
                    </p>

                </div>

            </div>

        </div>

    </footer>

</body>

</html>